$color: #924da3;

.wi {
  font-size: 24px;
  color: $color;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.flag {
  .wi {
    margin-right: 10px;
    cursor: pointer;

    &.active {
      background: #fff76c;
    }
  }
}

.block {
  padding: 25px;

  &.block-list {
    background-color: #4483D0;

    .filters {
      input.search {
        width: 100%;
      }
    }

    ul {
      padding: 0;
    }
    
    .block-list__item {
      background-color: #70ffb3;
      width: 100%;
      margin-bottom: 15px;
      list-style: none;

      &:last-child {
        margin-bottom: 0;
      }

      &.active {
        font-weight: bold;
      }

      a {
        color: #000;
        display: inline-block;
      }
    }
  }
}
