<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>VeeRoute</title>
    <!-- TODO Переделать на сборщик -->
    <link rel="stylesheet" href="/assets/bootstrap-css-only/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-css-only/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/weather-icons/css/weather-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body ng-app="app" ng-cloak>

<div class="container" ng-controller="ItemListController">
    <div class="row">
        <div class="col-lg-4 block block-list">
            <div class="filters">
                <div class="row">
                    <div class="col-lg-6">
                        <p>Sort: <input type="checkbox" ng-checked="!reversed" ng-click="reverse = !reverse"></p>
                    </div>
                    <div class="col-lg-6">
                        <p><input class="search" type="text" placeholder="Text filter" ng-model="searchText"></p>
                    </div>
                </div>
            </div>

            <ul>
                <li class="block-list__item" ng-class="currentItem == item ? 'active' : ''" ng-repeat="item in items.left | orderBy:name:reverse | filter:searchText">
                    <a href="#" ng-click="setCurrentItem(item)">{{item.name}}</a>
                    <span ng-repeat="flag in item.flags"><i class="wi wi-{{flag}}"></i></span>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 block">
            <p>INFO</p>

            <div ng-if="currentItem">
                <p>Name: {{currentItem.name}}</p>
                <p ng-if="currentItem.flags && currentItem.flags.length">Flags: <span ng-repeat="flag in currentItem.flags"><i class="wi wi-{{flag}}"></i></span></p>
            </div>
        </div>

        <div class="col-lg-4 block block-list">
            <p class="flag"><i class="wi wi-{{flag}}"  ng-repeat="flag in flagsList" ng-class="selectedFlag == flag ? 'active' : ''" ng-click="setCurrentFlag(flag)"></i></p>

            <ul>
                <li class="block-list__item" ng-class="currentItem == item ? 'active' : ''" ng-repeat="item in items.right | filter:selectedFlag">
                    <a href="#" ng-click="setCurrentItem(item)">{{item.name}}</a>
                    <span ng-repeat="flag in item.flags"><i class="wi wi-{{flag}}"></i></span>
                </li>
            </ul>
        </div>
    </div>
</div>


<script src="/assets/angular/angular.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>